body {
  background-color: black;
}

$margins: (
  bottom: (10, 20, 40, 50, 0, 48, 40),
  left: (20, 5, 10),
  right: (20, 10, 5, 0, 30),
  top: (40, 5, 50, 10, 30, 20, 25, 70, 120, 15, 0),
);

@mixin margins-modifiers {
  @each $direction, $values in $margins {
    @each $value in $values {
      &-#{$direction}-#{$value}px {
        margin-#{$direction}: $value + px;
      }
    }
  }
}
// this will generates stuff like this .margin-top-50px { margin-top: 50px; }
.margin {
  @include margins-modifiers;
}